@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --header-bg-color: #21222a;
  --main-bg-color: #282d35;
  --text-color: #fff;
  --title-color: #61dafb;
  --text-color-ligther: #deebf8;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --ff: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff);
  padding: 0;
  margin: 0;
}

p {
  
}

nav {
display: flex !important;
padding: 20px 120px !important;
height: 70px;
box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav img {
  width: 100px;
}

.hero-container img {
 width: 100%;
}

@media  screen and (max-width: 768px) {
  nav {
    padding: 20px 10px !important;
    }
}